# .gitignore in root directory

# Ignore .env file in root
.env

# Ignore node_modules directory in root
node_modules/

# Ignore .env file in src directory
src/.env

# Ignore node_modules directory in src directory
src/node_modules/




